[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
defmt = "1.0.1"
embassy-sync = { version = "0.7.2", features = ["defmt"] }
heapless = { version = "0.9.2", default-features = false }
